.git
.github
node_modules
npm-debug*.log
.DS_Store
.env
.env.*
node_modules/
vendor/
public/hot
public/storage
storage/*.key
storage/pail
storage/debugbar
storage/app/public/
storage/logs/
docker-compose*.yml
Dockerfile
.dockerignore
tests/
phpunit.xml
